@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@lala: 700px;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  padding: 0;
}

md-content {
  overflow: hidden;
}

.angular-google-map-container { 
  height: @lala; 
}

.login-box{
  background-color: #E0F2F1;
}
md-list {
  // overflow: auto;
}
/*ng-invalid.ng-dirty {
  border-color: #fa787e;
}
ng-valid.ng-dirty {
  border-color: #78fa89;
}*/