<md-content flex layout-padding layout="row" layout-align="center center">
  <md-whiteframe class="md-whiteframe-1dp login-box" layout="column" flex="33">
    <h3 class="md-headline">Login</h3>
    <md-input-container>
      <label>Username</label>
      <input type="text" ng-model="auth.credentials.username">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="auth.credentials.password">
    </md-input-container>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised md-primary">Login</md-button>
    </div>
  </md-whiteframe>
</md-content>