<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-content layout="column" layout-padding>
    <md-input-container>
      <label>Buscar</label>
      <input type="text" ng-model="auth.credentials.username">
    </md-input-container>
    <md-list>
      <md-list-item ng-repeat="item in main.categories">
        <p ng-bind="item.description"></p>
        <md-checkbox ng-model="item.isSelected" ng-change="main.selectItem(item)"></md-checkbox>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
<div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
        <div id="testing" layout="row" layout-align="center center">
          <ui-gmap-google-map center="main.map.center" zoom="main.map.zoom" control="main.map.control" flex>
            <ui-gmap-marker idKey="main.location.id" coords='main.location.coords'></ui-gmap-marker>
            <ui-gmap-markers models="main.rndMarkers" idKey="'id'" coords="'coords'" click="main.markerClick" fit="true"></ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
    </md-content>
</div>