<md-list>
  <md-list-item ng-repeat="item in listCtrl.collection">
    <p ng-bind="item.description"></p>
    <md-checkbox ng-model="item.isSelected" ng-change="listCtrl.selectItem(item)"></md-checkbox>
  </md-list-item>
</md-list>