<md-content flex layout-padding layout="row" layout-align="center start">
  <form name="signupForm" layout="column" flex="80" ng-submit="signupForm.$valid && signup.save()" novalidate>
    <h3 class="md-headline">Registro</h3>
    <div layout="row" layout-align="space-between center">
      <md-input-container flex>
        <label>Usuario</label>
        <input required name="username" type="text" ng-model="signup.user.userName">
        <div ng-messages="signupForm.username.$error" ng-if="signupForm.username.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
      <div flex="5"></div>
      <div flex></div>
    </div>
    <div layout="row" layout-align="space-between center">
      <md-input-container flex>
        <label>Contraseña</label>
        <input required name="password" type="password" ng-model="signup.user.password">
        <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex>
        <label>Repite Contraseña</label>
        <input name="confirmPassword" type="password" ng-model="signup.user.confirmPassword" compare-to="signup.user.password" required>
        <div ng-messages="signupForm.confirmPassword.$error" ng-if="signupForm.confirmPassword.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="space-between center">
      <md-input-container flex>
        <label>Nombres</label>
        <input name="firstname" type="text" ng-model="signup.user.firstName" required>
        <div ng-messages="signupForm.firstname.$error" ng-if="signupForm.firstname.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex>
        <label>Apellidos</label>
        <input name="lastname" type="text" ng-model="signup.user.lastName" required>
        <div ng-messages="signupForm.lastname.$error" ng-if="signupForm.lastname.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="space-between center">
      <md-input-container flex>
        <label>Fecha de Nacimiento</label>
        <input name="birthdate" type="date" ng-model="signup.user.dateOfBirth" required>
        <div ng-messages="signupForm.birthdate.$error" ng-if="signupForm.birthdate.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex>
        <label>Email</label>
        <input name="email" type="email" ng-model="signup.user.emailAddress" required>
        <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
          <ng-messages-include src="views/messages.html"></ng-messages-include>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised md-primary">Enviar</md-button>
    </div>
  </form>
</md-content>